# Network, Host/Port details for Traefik & Portainer
NETWORK=traefik
#DNS_RESOLVER=9.9.9.9
MONITORING_STACK=your-monitoring-stack-name

# Traefik Configuration
TRAEFIK_VER=v3.5.1
TRAEFIK_HOST=traefik.example.com

# Portainer Configuration
PORTAINER_EDITION=ce
PORTAINER_VER=2.33.1
PORTAINER_HOST=portainer.example.com
PORTAINER_PORT=9000

# AWS credentials for Traefik Route53 DNS challenge
# IMPORTANT: Replace with your actual AWS credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-region

# Let's Encrypt Email (REQUIRED)
LETSENCRYPT_EMAIL=admin@example.com